@import '../../../../../../../../assets/styles/variables';

.product {
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;

  &__new, &__sale {
    margin-left: -15px;
  }
  .cart-container {
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    top: -200px;
    display: none;
  }

  &__cart {
    padding: 4px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #5ECE7B;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    box-shadow: 0px 4px 11px 0px #1D1F221A;

    img {
      width: 23px;
      height: 23px;
    }
  }

  &:hover {
    border-color: $primary-color;
    box-shadow: 0 4px 10px 0 $primary-color;

    .cart-container {
      display: flex !important;
    }
  }

  &__image {
    height: 190px;
    width: 100%;
    min-width: auto;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .badges {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__content {
    padding: 15px 0;
  }

  &__title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    color: $base-color;
  }

  &__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    color: $label-color;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 30px;

    .price {
      &--new {
        color: $active-price;
        font-weight: 700;
        font-size: 15px;
        line-height: 21px;

        &.sale {
          color: $sale-color;
        }
      }

      &--old {
        color: #6F6F6F;
        text-decoration: line-through;
        font-size: 15px;
        line-height: 21px;
        font-weight: 700;
      }
    }
  }
}

 @media only screen and (max-width: 1024px){
   .product {
     &__cart {
       display: flex !important;
     }
   }
 }

@media only screen and (max-width: 767px) {
  .product {
    &__title {
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 470px){
  .cart-container {
    display: flex !important;
  }
}
