<div class="recommendation" [routerLink]="['/products', product.id]">
  <div class="recommendation__left">
    <div class="recommendation__image" [style.background-image]="'url(' + product.image +')'"></div>
    <div class="recommendation__content">
      <div class="recommendation__label">{{product.label | translate | uppercase}}</div>
      <div class="recommendation__title">{{product.title | translate}}</div>
    </div>
  </div>
  <div class="recommendation__price">{{product.price | uppercase}}</div>
</div>
