<app-page-container [pages]="pages">
  <div class="blogs-page" *ngIf="articles; else loading">
    <div class="blogs-header">
      <div class="blogs-header-title">
        {{ 'Blog.Header' | translate }}
      </div>
      <div class="blogs-sum">
        <div class="blogs-sum-amount">
          <span class="amount--label">{{ 'Blog.Articles' | translate }}</span>
          <span class="amount--value">{{ articles.total }}</span>
        </div>
      </div>
    </div>

    <div class="blogs-content">
      <div class="blogs-filter">
        <app-filters [filters]="filters" *ngIf="filters?.length" (filtersChange)="filtersChange($event)"></app-filters>
      </div>
      <div class="blogs-spacer"></div>
      <div class="content-right">
        <app-blogs-list [articles]="articles.content" (loadNextPage)="loadNextPage()"
                        [total]="articles.total" [loading]="blogsLoading"></app-blogs-list>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <app-loader class="loader"></app-loader>
  </ng-template>
</app-page-container>
