@import '../../../../../../../assets/styles/variables';

.blogs-page {
  margin-top: 20px;
  margin-bottom: 50px;

  .blogs-header {
    display: flex;
    align-items: center;
    gap: 20px;

    .blogs-header-title {
      color: $base-color;
      font-size: 30px;
      line-height: 35px;
      font-weight: 700;
      width: 30%;
    }

    .blogs-sum {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      align-items: center;
      width: 100%;

      .blogs-sum-amount {
        display: flex;
        gap: 10px;
        align-items: center;
      }
      .amount {
        color: $base-color;
        font-size: 20px;
        line-height: 21px;
        font-weight: 400;

        &--value {
          font-weight: 700;
        }
      }

      &__label {
        color: $base-color;
        font-size: 15px;
        line-height: 21px;
        font-weight: 400;
      }
    }
  }

  .blogs-content {
    display: flex;
    margin-top: 30px;

    .blogs-spacer {
      padding: 1px;
      background: #CCCCCC;
      margin-left: 10px;
      margin-right: 25px;
    }

    .blogs-filter {
      top: 10px;
      position: sticky;
      max-width: 315px;
      width: 100%;
      height: fit-content;
    }
  }
}

.loader {
  width: 70px;
  height: 70px;
  display: flex;
  margin: 30px auto;
}


@media only screen and (max-width: 1025px) {
  .blogs-page {
    .blogs-content {
      flex-direction: column;
      gap: 20px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .blogs-page {
    margin-bottom: 0;
  }
}
