@import '../../../shared/table/table.component';
@import '../../../../assets/scss/variables';

#image-upload {
  display: none;
}

.images {
  margin: 25px;

  .tab-labels {
    display: flex;
    justify-content: left;
    margin: 10px 0;

    .tab-label {
      cursor: pointer;
      padding: 10px 30px;
      border-bottom: 2px solid $theme-orange;

      &.active {
        font-weight: bold;
        background-color: $theme-orange;
        border-bottom: none;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
  }

  &__preview {
    background: center center no-repeat;
    background-size: contain;
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .actions {
      display: flex;
      cursor: pointer;
      gap: 12px;
      justify-content: center;
      width: 100%;
      padding: 5px;
      background: rgba(255, 224, 177, 0.5);
    }
  }
}

