<app-authorization
  [entity]="entities.Checkout"
  [action]="[policyActions.VIEW]"
>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-padding-lr">
          <div class="flex-between align-items-end">
            <div class="card-title">Checkout details</div>
            <div class="actions">
              <button class="btn action-btn btn-outlined-gray mr-2" [routerLink]="['/admin/checkout']">
                Close
              </button>
            </div>
          </div>
        </div>

        <div class="card-body card-padding-lr">
          <app-form-values [data]="currentModel"></app-form-values>
        </div>
      </div>
    </div>
  </div>
</app-authorization>
