@import "../variables";

* {
  &:focus-visible {
    outline: none;
  }
}

.main-color {
  color: $main-text-color !important;
}

.main-button {
  background: transparent;
  padding: ($size-1 * .03125) ($size-1 * .9375);
  border-radius: ($size-1 * .03125);
  box-shadow: none;
  color: rgba(255, 255, 255, 0.7);
}

.ml-auto {
  margin-left: auto;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.card-padding-lr {
  padding: 0 $container-margin-l !important;
}

.card-padding {
  padding: $container-margin-l !important;
}

.section-mt {
  margin-top: $container-margin-l;
}

.section-mb {
  margin-bottom: $container-margin-l;
}

.section-m {
  margin: $container-margin-l 0;
}

.card {
  padding: $container-margin-l 0;
  border-radius: $border-radius * 4;
  box-shadow: 0 ($size-1 * .5) $container-margin-l 0 rgba(32, 34, 35, 0.16);
  background-color: #fff;
}

.card-title {
  font-family: $font-family-bd;
  font-size: $container-margin-l;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: $main-text-color;
}

button.action-btn {
  padding-left: $container-margin-l !important;
  padding-right: $container-margin-l !important;
  border-radius: $border-radius !important;
  box-shadow: 0 ($size-1 * .125) ($size-1 * .375) 0 rgba(0, 0, 0, 0.16) !important;
  font-size: $font-size-base;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  font-family: $font-family-bd;
  min-width: 120px;
  margin-left: 16px!important;

  &:hover {
    box-shadow: 0 ($size-1 * .25) $font-size-xs 0 rgba(0, 0, 0, 0.24) !important;
  }

  &:focus, &:focus:active {
    background-image: none !important;
  }
}

.btn-primary {
  background: $yellow !important;
  color: $body-color !important;
}

button.btn-primary {
  &:hover {
    background: $yellow-hover !important;
  }

  &:focus, &:focus:active {
    background: $yellow-active !important;
  }
}

button.btn-outlined-gray {
  border: solid 1px $gray-800;
  font-size: $font-size-base;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: $gray-800;
  font-family: $font-family-bd;
}

button.btn-outlined-primary {
  border: solid 1px $yellow-hover;
  font-size: $font-size-base;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: $yellow-hover;
  font-family: $font-family-bd;
}

.info-text {
  font-size: $font-size-md;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: $orange;
}

.toast-top-center {
  top: $space-md !important;
}

.card-header {
  background: transparent!important;
}

.section-title {
  font-size: $size-1 * 1.25;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: $gray-800;
  font-family: $font-family-bd;
}

.without-styles-btn {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-decoration: none;
}

.view-only {
  .f-group {
    pointer-events: none;

    select {
      background-image: none!important;
    }
  }
}

.pe-all {
  pointer-events: all!important;
}

.d-table-cell {
  display: table-cell!important;
}

ngb-accordion {
  .card {
    padding: 0;
    border: none;
    border-bottom: ($container-margin * .25) dotted $gray-600 !important;
    border-radius: 0;
    box-shadow: none;

    .card-header {
      margin-bottom: 0 !important;
      padding: 0;
    }

    .card-body {
      font-size: $font-size-xs;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
      color: $gray-600;
      padding: ($size-1 * .5) 0;
    }
  }

  [role="tab"] {
    button {
      font-size: $font-size-xs;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: $main-text-color;
      width: 100%;
      height: 100%;
      box-shadow: none;
      padding: $font-size-xs 0;
      border-radius: 0;
      background: $white;

      &:hover, &:focus, &:active {
        color: $main-text-color;
        text-decoration: none;
        outline: none;
        box-shadow: none;
      }

      .icon {
        transform: rotate(180deg);
      }

      &.collapsed {
        .icon {
          transform: rotate(0);
        }
      }
    }
  }
}

.pl-0 {
  padding-left: 0!important;
}
