<div class="images">
  <div class="images__left">
    <ng-container *ngFor="let image of images; let i = index">
      <div class="background-image">
        <div class="images__item" (click)="changeImage(i)" [ngClass]="{ active: imageIndex === i }" [ngStyle]="{ backgroundImage: 'url(' + image.path +')' }"></div>
      </div>
    </ng-container>
  </div>
  <div class="images__right">
    <div class="badges">
      <app-badge class="sale" *ngIf="sale" [badge]="badge.Error"
                 [label]="('Products.Badge.Sale' | translate) || ''" [radius]="'0 5px 5px 0'"></app-badge>
      <app-badge class="sale" *ngIf="outOfStock" [badge]="badge.Error"
                 [label]="('Products.Badge.OutOfStock' | translate) || ''" [radius]="'0 5px 5px 0'"></app-badge>
      <app-badge class="sale" *ngIf="comingSoon" [badge]="badge.Green"
                 [label]="('Products.Badge.ComingSoon' | translate) || ''" [radius]="'0 5px 5px 0'"></app-badge>
      <app-badge class="sale" *ngIf="isNew" [badge]="badge.Dark"
                 [label]="('Products.Badge.New' | translate) || ''" [radius]="'0 5px 5px 0'"></app-badge>
    </div>


    <div class="background-image" (click)="showImages(imageIndex)">
      <div class="images__show" [ngStyle]="{ backgroundImage: 'url(' + images[imageIndex].path +')' }"></div>

      <button type="button" class="images__nav images__nav--prev" *ngIf="images.length > 1"
              (click)="prevImage($event)" aria-label="Previous image">
        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M15 18l-6-6 6-6"/>
        </svg>
      </button>
      <button type="button" class="images__nav images__nav--next" *ngIf="images.length > 1"
              (click)="nextImage($event)" aria-label="Next image">
        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M9 18l6-6-6-6"/>
        </svg>
      </button>

      <div class="images__counter" *ngIf="images.length > 1">
        <span class="images__counter-index">{{ imageIndex + 1 }} / {{ images.length }}</span>
        <span class="images__dots">
          <span class="images__dot" *ngFor="let image of images; let i = index" [class.active]="i === imageIndex"></span>
        </span>
      </div>
    </div>
  </div>
</div>
