<div class="contacts">
  <section class="section--contact">
    <div class="section__header">
      <h1>{{ ui.contactsTitle }}</h1>
      <div class="section__line"></div>
    </div>

    <div class="contact-grid">
      <div class="contact-info">
        <div class="contact-addresses-grid" [class.grid-layout]="addresses.length > 1">
          <article class="contact-item"
                   *ngFor="let address of addresses; let i = index"
                   [class.contact-item--bordered]="i > 0 && addresses.length < 2">
            <div class="contact-item__icon">
              <img src="assets/icons/map-pin.svg" alt="Location icon" />
            </div>

            <div class="contact-item__content">
              <h3>{{ address.name }}</h3>
              <p class="contact-item__address">{{ address.street }}</p>
              <p class="contact-item__schedule" *ngFor="let schedule of address.schedule">{{ schedule }}</p>
              <a *ngIf="address.phone" class="contact-item__phone" [href]="'tel:' + address.phone">{{ address.phone }}</a>
            </div>
          </article>
        </div>

        <div class="contact-note">
          <strong>{{ ui.designerTitle }}</strong>
          <ng-container *ngIf="designerPhones.length; else designerFallback">
            <a *ngFor="let designer of designerPhones" [href]="'tel:' + designer.phone">
              {{ designer.name ? designer.name + ': ' : '' }}{{ designer.phone }}
            </a>
          </ng-container>
          <ng-template #designerFallback>
            <span>{{ ui.designerNote }}</span>
          </ng-template>
        </div>
      </div>

      <div class="map-card">
        <iframe *ngIf="mapEmbedUrl; else mapFallback"
                [src]="mapEmbedUrl"
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                title="Altdecor map"></iframe>
        <ng-template #mapFallback>
          <img src="assets/images/content/map.png" alt="Map preview" />
        </ng-template>
      </div>
    </div>
  </section>

  <div class="contacts__consult">
    <app-consult></app-consult>
  </div>
</div>
