<div class="product" [routerLink]="[product.id]">
  <div class="product__image" (click)="showImage(product.image); $event.stopPropagation()" [ngStyle]="{ backgroundImage: 'url(' + product.image + ')' }">
    <div class="badges">
      <app-badge class="product__new" *ngIf="product.isNew" [badge]="badge.Dark"
                 [label]="('Products.Badge.New' | translate) || ''" [radius]="'0 5px 5px 0'"></app-badge>
      <app-badge class="product__sale" *ngIf="product.isSale" [badge]="badge.Error"
                 [label]="('Products.Badge.Sale' | translate) || ''" [radius]="'0 5px 5px 0'"></app-badge>
      <app-badge class="product__sale" *ngIf="product.outOfStock" [badge]="badge.Error"
                 [label]="('Products.Badge.OutOfStock' | translate) || ''" [radius]="'0 5px 5px 0'"></app-badge>
      <app-badge class="product__sale" *ngIf="product.comingSoon" [badge]="badge.Green"
                 [label]="('Products.Badge.ComingSoon' | translate) || ''" [radius]="'0 5px 5px 0'"></app-badge>
    </div>
  </div>

  <div class="product__content">
    <div class="product__code" *ngIf="product.sku">
      {{ 'Products.Label.Code' | translate }} {{ product.sku }}
    </div>

    <div class="product__title">
      {{ product.title | translate | cleanTitle }}
    </div>

    <div class="product__footer">
      <div class="product__price">
        <span class="price--new" *ngIf="hasPrice" [ngClass]="{ sale: product.isSale }">{{ product.price.current }}</span>
        <span class="price--old" *ngIf="hasOldPrice">{{ product.price.old }}</span>
        <span class="price--request" *ngIf="!hasPrice">{{ 'Products.Label.PriceOnRequest' | translate }}</span>
      </div>

      <button class="product__cart" type="button" (click)="addToCart(); $event.stopPropagation()" aria-label="Add to cart">
        <img src="assets/images/content/cart.svg" alt="">
      </button>
    </div>
  </div>
</div>
