@import '../../../../../../../assets/styles/variables';

.page-container {
  padding: 20px 50px;

  &__spacer {
    margin: 0 10px;
    color: $link-menu;
    font-size: 12px;
  }

  &__header {
    display: flex;
    flex-wrap: nowrap;
  }

  &__link {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    a {
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
      color: $link-menu;
      text-decoration: none;

     &.active, &:hover {
        color: $link-active;
      }
    }

    &:last-child {
      span {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .page-container {
    padding: 20px;
  }
}
