.custom-select {
  display: inline-block;
  position: relative;

  ul {
    padding-left: 0;
  }

  &__button {
    cursor: pointer;
    background: transparent;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &.type {
    &--default {
      .custom-select {
        &__button {
          width: fit-content;
          border: none;
          font-size: 20px;
          line-height: 21px;
          font-weight: 400;
        }

        &__list {
          box-shadow: 0 4px 4px 0 #00000026;
        }
      }
    }

    &--outlined {
      .custom-select {
        &__button {
          border: 2px solid #E3E1E1;
          padding: 20px;
          border-radius: 4px;
          min-width: 280px;
          font-size: 15px;
          text-align: left;
          font-weight: 700;
          line-height: 21px;
        }

        &__list {
          border: 2px solid #E3E1E1;
        }
      }
    }
  }

  &__list {
    list-style: none;
    width: 100%;
    min-width: 225px;
    right: 0;
    border-radius: 4px;
    margin-top: 10px;
    position: absolute;
    overflow: hidden;
    z-index: 9999;
    background-color: #fff;
    animation: fadeInDown 0.2s ease-in-out;

    li {
      cursor: pointer;
      font-size: 15px;
      line-height: 21px;
      text-align: center;
      font-weight: 400;
      padding: 10px 10px 5px;

      &:last-child {
        padding-bottom: 10px;
      }

      &:hover {
        background: #E3E1E1;
      }
    }
  }
}
