@import '../../../../../../../assets/styles/variables';
@import '../../../../../../../assets/styles/components';

.product {
  margin: 0 50px;
  display: flex;
  align-items: center;
  gap: 20px;

  .product-header {
    display: none;
    margin-top: 20px;
    .product-title {
      font-weight: 700;
      color: $base-color;
      font-size: 30px;
      margin-bottom: 10px;
      line-height: inherit;
    }
    .product-cod {
      font-size: 16px;
      font-weight: 700;
      line-height: inherit;
      color: $label-item;
    }
  }

  app-images-slide {
    width: 60%;
  }
  app-product-details {
    width: 40%;
  }
}

@media only screen and (max-width: 1200px) {
  .product {
    flex-direction: column;
    align-items: flex-start;
    .product-header {
      display: block;
    }
  }
  app-images-slide {
    width: 100% !important;
  }
  app-product-details {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1025px) {
  .product {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .product {
    gap: 0;
    .product-header {
      .product-title {
        font-size: 16px;
      }
      .product-cod {
        font-size: 12px;
        padding: 0;
        line-height: normal;
        font-weight: 500;
      }
    }
  }
}
