<div class="product" *ngIf="product">
  <div class="product-header">
    <div class="product-title">
      {{product.title | translate}}
    </div>
    <div class="product-cod">
      <span>{{'Product.Label.Cod' | translate}}: </span>
      <span>{{product.labels[0] | translate}}</span>
    </div>
  </div>
  <app-images-slide [images]="product.images" [sale]="product.isSale" [isNew]="product.isNew" [comingSoon]="product.comingSoon" [outOfStock]="product.outOfStock"></app-images-slide>

  <app-product-details [product]="product" [cart]="cart">
    <ng-content></ng-content>
  </app-product-details>
</div>
