<div class="checkout">
  <form [formGroup]="form" [style.display]="products.length > 0 ? 'block' : 'none'">
    <ng-container #checkout></ng-container>
  </form>

  <ng-container *ngIf="!products.length">
    <div class="checkout__empty">
      <div class="description">{{ 'Checkout.NoProducts.Description' | translate }}</div>
      <a [routerLink]="'/' + pages.Products">
        <button class="default">{{ 'Checkout.NoProducts.Button' | translate }}</button>
      </a>
    </div>
  </ng-container>
</div>
