<div class="state-card card-padding" [ngClass]="{'card': inCard}">
  <div class="section-title" *ngIf="title">
    {{title}}
  </div>

  <div class="content">
    <div class="icon" *ngIf="icon">
      <svg-icon [src]="icon"></svg-icon>
    </div>
    <div class="state" *ngIf="state">{{state}}</div>
    <div class="description" *ngIf="description">{{description}}</div>

    <button class="btn action-btn ml-auto"
            *ngIf="button"
            [ngClass]="button.className"
            (click)="buttonClicked.emit(true)">
      {{button.label}}
    </button>
  </div>
</div>
