<div class="specification">
  <div class="specification__icon">
    <img [src]="specification.img" alt="">
  </div>

  <div class="specification__content">
    <div class="specification__title">
      {{ specification.title | translate }}
    </div>
    <div class="specification__description" *ngIf="specification.hasContact">
      <a [href]="'tel:' + contactPhone.main_phone">
        {{contactPhone.main_phone | translate}}
      </a>
    </div>

<!--    <div class="specification__description">-->
<!--      {{specification.description | translate}}-->
<!--    </div>-->
  </div>
</div>
