<div class="details" *ngIf="product">
  <div class="details__labels">
    <ng-container *ngFor="let label of product.labels">
      <div class="details__item product-cod">
        <span>{{'Product.Label.Cod' | translate}}: </span>
        <span>{{ label | uppercase }}</span>
      </div>
    </ng-container>
  </div>

  <div class="details__title">
    {{ product.title | translate }}
  </div>

  <div class="details__prices">
    <div class="price--new">
      {{ product.price.current | uppercase }}
    </div>

    <div class="price--old">
      {{ product.price.old | uppercase }}
    </div>
  </div>

  <div class="details__item">
    {{ vatLabels[product.vat] | translate }}
  </div>

  <div class="details__spacer"></div>

  <div class="details__stock" *ngIf="product?.stock">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15 9.90573V10.5037C14.9992 11.9054 14.5453 13.2693 13.706 14.3919C12.8668 15.5146 11.6871 16.3358 10.343 16.7333C8.99881 17.1307 7.56224 17.083 6.2474 16.5972C4.93259 16.1115 3.81002 15.2137 3.04712 14.0378C2.28422 12.8619 1.92186 11.471 2.01409 10.0723C2.10631 8.67368 2.64819 7.34233 3.55888 6.27682C4.46958 5.2113 5.70031 4.46872 7.06752 4.15981C8.43474 3.85091 9.86519 3.99224 11.1455 4.56272" stroke="#65BF70" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M15 5L8.84615 12L7 9.9021" stroke="#65BF70" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

    {{ 'Product.Stock' | translate }}
  </div>

  <div class="details__row" *ngIf="product.model">
    <div class="details__col">
      <div class="details__label">{{ labels['model'] | translate }}</div>
      <div class="details__item">{{ product.model }}</div>
    </div>
  </div>

  <div class="details__row" *ngIf="product.type">
    <div class="details__col">
      <div class="details__label">{{ labels['type'] | translate }}</div>
      <div class="details__item">{{ product.type | translate }}</div>
    </div>
  </div>

  <div class="details__row" *ngIf="product.material">
    <div class="details__col">
      <div class="details__label">{{ labels['material'] | translate }}</div>
      <div class="details__item">{{ product.material | translate }}</div>
    </div>
  </div>

  <ng-container *ngIf="product.characteristic?.length">
    <ng-container *ngFor="let carac of product.characteristic">
      <div class="details__row" *ngIf="carac.key?.ro">
        <div class="details__col">
          <div class="details__label">{{ carac.key | translate }}:</div>
          <div class="details__item">{{ carac.value | translate }}</div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <div class="details__row" *ngIf="sizesOptions?.length">
    <div class="details__col">
      <div class="details__label">{{ labels['depth'] | translate }}</div>
      <div class="details__item" *ngIf="selectedSizes?.height">{{ getSizeMeasure(selectedSizes.height) }}</div>
    </div>
    <div class="details__col">
      <div class="details__label">{{ labels['width'] | translate }}</div>
      <div class="details__item" *ngIf="selectedSizes?.width">{{ getSizeMeasure(selectedSizes.width) }}</div>
    </div>
    <div class="details__col">
      <div class="details__label">{{ labels['length'] | translate }}</div>
      <div class="details__item" *ngIf="selectedSizes?.length">{{ getSizeMeasure(selectedSizes.length) }}</div>
    </div>
  </div>

  <div class="details__quantity">
    <div class="details__label">{{ 'Product.Label.Amount' | translate }}</div>

    <div class="details__row">
      <app-counter [value]="quantity" (counterChange)="getQuantity($event)"></app-counter>
      <app-select [selectedOption]="initialOption" [options]="sizesOptions"
                  (optionSelected)="changeOption($event)" *ngIf="sizesOptions?.length"></app-select>
    </div>
  </div>

  <button class="details__button default" (click)="buyNow()">{{ 'Product.Button.Buy' | translate }}</button><br>
  <button class="details__button default" *ngIf="cart" (click)="addToCart()">{{ 'Product.Button.AddToCart' | translate }}</button>
  <button class="details__button default green-button"><a [href]="'tel:' + contactPhone.main_phone">{{ 'Contact.Button.Contact' | translate }}</a></button>

  <ng-content></ng-content>
</div>
