@import '../../../../../../../../assets/styles/variables';
@import '../../../../../../../../assets/styles/components';

.details {
  margin: 30px 0;

  &__item, &__label {
    font-size: 11px;
    font-weight: 700;
    line-height: inherit;
  }

  &__item {
    color: $label-item;
  }

  &__label {
    color: $base-color;
  }

  &__title {
    font-weight: 700;
    color: $base-color;
    font-size: 30px;
    margin-bottom: 10px;
    line-height: inherit;
  }

  &__prices {
    display: flex;
    gap: 20px;
    align-items: center;

    .price {
      &--new {
        color: $sea-green;
        font-size: 20px;
        font-weight: 700;
        line-height: inherit;
      }

      &--old {
        color: $gray-light;
        font-size: 15px;
        font-weight: 700;
        line-height: inherit;
        text-decoration: line-through;
      }
    }
  }

  &__spacer {
    width: 100%;
    height: 20px;
  }

  &__stock {
    font-size: 12px;
    line-height: inherit;
    font-weight: 400;
    color: $base-color;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__row {
    display: flex;
    align-items: stretch;
    gap: 10px;
    margin-bottom: 5px;
  }

  &__col {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__quantity {
    .details__label {
      font-size: 14px;
      line-height: inherit;
      margin-top: 20px;
    }
  }

 .green-button {
   background: #5ECE7B;
   a {
     text-decoration: none;
     color: white;
   }
 }

  &__button {
    margin-top: 7px;
    width: 100% !important;
    max-width: 433px;
  }
}

@media only screen and (max-width: 1200px) {
  .details {
    text-align: left;
    &__title {
      display: none;
    }
    &__prices, &__stock {
      justify-content: flex-start;
    }
    &__row {
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    &__item, &__label {
      font-size: 16px;
      line-height: inherit;
      padding: 5px 0;
    }
  }
  .product-cod {
    display: none;
  }
}

@media (max-width: 767px) {
  .details {
    &__item, &__label {
      font-size: 12px;
      padding: 0;
      line-height: normal;
      font-weight: 500;
    }
    &__spacer {
      height: 0;
    }
    &__quantity {
      .details__label {
        margin-top: 5px;
      }
    }
  }
}
