@import '../../../assets/scss/variables';

.navbar {
  background-color: $theme-orange;
  box-shadow: $container-box-shadow;
  width: 100%;
  height: $navbar-height;
}

.container-fluid {
  margin: 0 20px;
}

.navbar-logo {
  img {
    width: 100px;
  }
}

.navbar-utilities {
  .navbar-logout {
    background: transparent;
    border: none;
    img {
      width: 25px;
    }
  }
}

.navbar-absolute {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-sticky;
}

.dropdown-toggle {
  color: $body-color;
  cursor: pointer;

  &:after {
    display: none;
  }
}

.name-container {
  margin-right: $space-sm;
  font-size: $font-size-sm;
  line-height: 1.25;
  color: $white;

  .function {
    color: $gray-600;
  }
}

.avatar {
  height: $size-2;
  width: $size-2;
  border-radius: $border-radius-circle;
}
