.single-filter {
  cursor: pointer;
  color: #1B1B1B;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;

  &.active {
    color: #FFE0B1;
    background-color: #1B1B1B;
    padding: 5px 10px;
    width: 250px;
  }
}
