<div class="images-list" *ngIf="data.images.length">
  <svg class="list-close" (click)="close()" width="24" height="24" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 26L26 2" stroke="black" stroke-width="2.4372" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M26 26L2 2" stroke="black" stroke-width="2.4372" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>

  <div class="images-content" [ngClass]="{ more: data.images.length > 1 }">
    <div class="image-container">
      <img class="zoom-image" [src]="data.images[activeIndex]" alt="Zoom">
    </div>

    <div class="images" *ngIf="data.images.length > 1">
      <img class="image" *ngFor="let image of data.images; let i = index" (click)="activeIndex = i" [src]="image" alt="image">
    </div>
  </div>
</div>

