@import '../../../assets/scss/variables';

.form-values {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    font-size: $font-size-s;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.24px;
    text-align: left;
    color: $gray-400;
    font-family: $font-family-bd;
  }

  .value {
    font-size: $font-size-sm;
    font-weight: bold;
  }
}

.inner-group {
  .form-values {
    margin-left: 20px;
    margin-top: 5px;
    gap: 5px;
  }
}
