<div class="categories-banner" *ngIf="categories.length">
  <ng-container *ngFor="let category of categories">
    <div class="category-body" (click)="navigateToLink(category.link)">
      <div class="background-image">
        <div class="images-item" [ngStyle]="{ backgroundImage: 'url(' + category.bg_img +')' }"></div>
      </div>
      <div class="category-info">
        <div class="category-subtitle">
          {{'CategoriesBanner.Categories' | translate | uppercase}}
        </div>
        <div class="category-title">
          {{ category.title | translate | uppercase }}
        </div>
        <a class="action-button" [href]="category.link">
          {{'CategoriesBanner.ViewProducts' | translate}}
        </a>
      </div>
    </div>
  </ng-container>
</div>
