<div class="masterpieces" *ngIf="masterpieces">

  <div class="masterpieces__slider">
    <div class="masterpieces__logo">
      <img src="../../../../../../../assets/images/content/logo.png" alt="">
    </div>

    <ngx-slick-carousel
      class="slider"
      (afterChange)="afterChange()"
      (beforeChange)="beforeChange($event)"
      [config]="slideConfig">
      <div class="masterpieces__slide" ngxSlickItem *ngFor="let masterpiece of masterpieces">
        <div class="masterpieces__left"></div>
        <div class="masterpieces__right" [style.background-image]="'url(' + masterpiece.img +')'"></div>
      </div>
    </ngx-slick-carousel>

    <div class="masterpieces__content">
      <div [ngClass]="{'animate': startAnimation}">
        <div class="masterpieces__label">{{ masterpieces[currentSlideIndex].subtitle | translate | uppercase}}</div>
        <div class="masterpieces__title">{{ masterpieces[currentSlideIndex].title | translate }}</div>

        <a [href]="masterpieces[currentSlideIndex].button_link.en">
          <button class="default">{{ masterpieces[currentSlideIndex].button | translate }}</button>
        </a>
      </div>
    </div>
  </div>

</div>
