@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/DMSans/DMSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/DMSans/DMSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/DMSans/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/DMSans/DMSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/DMSans/DMSans-Bold.ttf') format('truetype');
}
