<app-main-products-section></app-main-products-section>
<!--<app-offers-header></app-offers-header>-->
<!--<app-recommendations filters></app-recommendations>-->
<!--<app-masterpieces></app-masterpieces>-->
<!--<div class="product">-->
<!--  <app-product-info [product]="products.content[0]" *ngIf="products?.content?.[0]">-->
<!--    <div class="product__all">-->
<!--      <a [routerLink]="['/products', products.content[0].id]">{{ 'Product.ViewFullDetails' | translate }}</a>-->
<!--    </div>-->
<!--  </app-product-info>-->
<!--</div>-->
<!--<app-interior-divisions></app-interior-divisions>-->

<app-specifications [background]="'#F4F3F3'"></app-specifications>
<!--<app-faq></app-faq>-->
<div class="section">
  <app-contact-banner></app-contact-banner>
</div>
<!--<app-trendings></app-trendings>-->
