.dropdown {
  display: inline-block;

  ul {
    padding-left: 0;
    margin-bottom: -10px;
  }

  &__button {
    cursor: pointer;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
    border: none;
    font-size: 20px;
    padding-right: 10px;
    line-height: 25px;
    font-weight: 700;

    span {
      text-align: left;
    }

    &.open {
      background: #1B1B1B;
      color: #FFE0B1;
      padding: 5px 10px;
      width: 100%;
    }
  }

  &__list {
    list-style: none;
    width: 250px;
    border-radius: 4px;
    margin-top: 15px;
    overflow: hidden;
    animation: fadeInDown 0.2s ease-in-out;

    li {
      cursor: pointer;
      font-size: 20px;
      line-height: 25px;
      font-weight: 400;
      padding: 10px 20px 5px;
      color: #717171;

      &:hover {
        background: #E3E1E1;
      }

      &.active {
        background: rgba(255, 224, 177, 0.5);
        color: #1B1B1B;
        font-weight: 700;
      }

      &:last-child {
        padding-bottom: 10px;
      }
    }
  }
}
