@import '../../../../../../../../assets/styles/variables';
@import '../../../../../../../../assets/styles/components';

.trendings {
  margin: 0 100px 70px 100px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: $base-color;
  }

  &__button {
    min-width: 140px;
  }

  &__items {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .trendings {
    margin: 0 50px 50px 50px;
    &__column, &__row {
      width: 100% !important;
    }
  }
}

@media only screen and (max-width: 576px) {
  .trendings {
    margin: 0 20px;
  }
  .trendings__header {
    flex-direction: column;
  }
  .trendings__title {
    font-size: 22px;
  }
}
