<div class="errors">
  <div class="error" *ngFor="let error of errors | keyvalue">
    <ng-container [ngSwitch]="error.key">
      <ng-container *ngSwitchCase="validatorsErrors.Pattern">
        {{ error.value | translate }}
      </ng-container>

      <ng-container *ngSwitchCase="'invalidPhoneNumber'">
        {{ 'Validators.InvalidPhone' | translate }}
      </ng-container>

      <ng-container *ngSwitchCase="'minlength'">
        {{ 'Validators.MinLength5' | translate }}
      </ng-container>

      <ng-container *ngSwitchDefault>
        {{ validatorsLabels[error.key] | translate }}
      </ng-container>
    </ng-container>
  </div>
</div>
