@import '../../../../../../../../assets/styles/variables';

.interior-divisions {
  margin: 0 100px 70px 100px;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;

  &__column {
    display: flex;
    flex-direction: row;
  }

  &__row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .interior-divisions {
    margin: 0 50px 50px 50px;

    &__column {
      width: calc(50% - 20px) !important;
      flex-direction: row;
    }
    &__row {
      flex-direction: row;
      width: 100% !important;
      flex-wrap: wrap;
    }
  }
}

@media only screen and (max-width: 768px) {
  .interior-divisions {
    &__column {
      width: 100% !important;
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 576px) {
  .interior-divisions {
    margin: 30px 20px;
  }
}
