<ng-container *ngIf="!loading">
  <div class="about-us">
    <div class="about-us__header">
      <div class="background" [style.background-image]="'url(' + aboutUs[0].img +')'"></div>
      <div class="layer">
        {{ aboutUs[0].title | translate }}
      </div>
    </div>
    <div class="about-us__content" [innerHTML]="aboutUs[0].description | translate | safeHtml"></div>
    <app-specifications></app-specifications>
    <app-interior-divisions></app-interior-divisions>
    <app-offers-header></app-offers-header>
    <div class="section">
      <app-contact-banner></app-contact-banner>
    </div>
  </div>
</ng-container>

<app-loader class="loader" *ngIf="loading"></app-loader>
