<app-dialog-container (onClose)="onClose.emit(true)">
  <div class="shop">
    <ng-container *ngIf="popular.length > 0 || shopCategories.length > 0; else loading">
      <div class="shop__categories">
        <div class="shop__category" *ngFor="let item of shopCategories">
          <div class="title">{{ item.category | translate | uppercase }}</div>
          <div class="products">
            <div class="product" *ngFor="let product of item.products" (click)="navigate(product.link)">
              <img [src]="product.image" alt="">
              <div class="label">{{ product.label | translate }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="shop__popular" *ngIf="popular?.length">
        <div class="title">{{ 'Shop.Popular' | translate | uppercase }}</div>

        <div class="popular-products">
          <ng-container *ngFor="let item of popular">
            <a class="popular-product" (click)="navigate(item.link)">
              <div class="image" [ngStyle]="{ backgroundImage: 'url(' + item.image +')' }"></div>
            </a>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <ng-template #loading>
      <app-loader class="loader"></app-loader>
    </ng-template>
  </div>
</app-dialog-container>
