<app-authorization
    [entity]="entities.ENTITY"
    [action]="[policyActions.VIEW, policyActions.UPDATE]"
>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-padding-lr">
          <div class="flex-between align-items-end">
            <div class="card-title">Newsletter Email details</div>
            <div class="actions">
              <button class="btn action-btn btn-outlined-gray mr-2" [routerLink]="['/admin/email-sender']">
                Cancel
              </button>
              <app-authorization
                  [entity]="entities.ENTITY"
                  [action]="modelId ? policyActions.UPDATE : policyActions.CREATE"
                  [class]="'d-table-cell'"
              >
                <button class="btn action-btn btn-primary ml-2"
                        [disabled]="submitButtonDisabled"
                        (click)="submitFormSubject.next()">
                  {{modelId ? 'Update' : 'Create'}} Newsletter Email
                </button>
              </app-authorization>
            </div>
          </div>
        </div>

        <div class="card-body card-padding-lr">
          <app-form
              [modelId]="modelId"
              [setFormConfig]="formData"
              [service]="service"
              [setModel]="currentModel"
              [name]="'Newsletter Email'"
              [entity]="entities.LANGUAGE"
              [urlSegment]="'email-sender'"
              [submitForm]="submitFormSubject.asObservable()"
              (submitButtonState)="submitButtonDisabled = $event"
          ></app-form>
        </div>
      </div>
    </div>
  </div>
</app-authorization>
