<div class="custom-select" *ngIf="options" [ngClass]="'type--' + type">
  <button class="custom-select__button" (click)="toggleOptions()">
    <span *ngIf="selectedOption; else selectOption">
      {{ selectedOption | translate }}
    </span>
    <ng-template #selectOption>
      {{ 'Component.Select.Option' | translate }}
    </ng-template>

    <img src="assets/images/content/dropdown.svg" alt="dropdown">
  </button>
  <ul *ngIf="isOptionsVisible" class="custom-select__list">
    <li *ngFor="let option of options" (click)="onSelectChange(option)">{{ option.label | translate }}</li>
  </ul>
</div>
