<form [formGroup]="formGroup"
      [ngClass]="{'view-only': isReadOnly && modelId}"
      *ngIf="formGroup">
  <div>
    <ng-container *ngTemplateOutlet="formControlsTemplate; context: {$implicit: {controls: formConfig}}"></ng-container>

    <ng-template #formControlsTemplate let-config>
      <ng-container *ngFor="let control of config.controls">
        <div *ngIf="control.title" class="col-md-12 section-title section-mt">{{control.title}}</div>

        <ng-container *ngIf="control?.controls?.length; else controlType">
          <ng-container *ngIf="control.isArray; else groupControl">
            <div [class]="control.className"
                 class="align-center">
              <ng-container *ngFor="let arrayElement of control.controls; let i = index">
                <div class="col-lg-10"
                     [ngClass]="{'col-lg-10': !control.hideActions, 'col-lg-12': control.hideActions, 'hide-actions': control.hideActions}">
                  <label *ngIf="control.label">{{control.label}}</label>
                  <div class="row align-center entity-row array">
                    <div [class]="nestedControl.className" *ngFor="let nestedControl of arrayElement">
                      <ng-container
                        *ngIf="(nestedControl.showByLanguage && nestedControl.key === language) || !nestedControl.showByLanguage">
                        <ng-container *ngIf="!nestedControl.controls?.length">
                          <app-form-control
                            [control]="nestedControl"
                            [disabled]="nestedControl.mainProps?.disabled"
                            [setFormGroup]="formGroup"
                            [entityName]="name"
                            [modelId]="modelId"
                            [formSubmitted]="formSubmitted"
                            [groupKey]="(config.key || control.key) + '.' + i + '.' + nestedControl.key"
                            [key]="nestedControl.key"
                            (controlChange)="controlChange.emit({event: $event, index: i})"></app-form-control>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="nestedControl.controls?.length">
                        <ng-container
                          *ngTemplateOutlet="formControlsTemplate; context: {$implicit: {controls: [nestedControl], key: (config.key || control.key) + '.' + i + '.' + nestedControl.key}}"></ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <ng-container *ngIf="!control.hideActions">
                  <div class="col-lg-1 array-action" (click)="addArrayItem(config.key || control.key)"
                       *ngIf="i === control.controls?.length - 1">
                    <svg-icon [src]="'app/theme/admin/assets/icons/add.svg' | assetsUrl"></svg-icon>
                  </div>
                  <div class="col-lg-1 array-action" (click)="removeArrayItem(config.key || control.key, i)"
                       *ngIf="control.controls?.length !== 1">
                    <svg-icon [src]="'app/theme/admin/assets/icons/remove.svg' | assetsUrl"></svg-icon>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
          <ng-template #groupControl>
            <div [class]="control.className" class="align-center entity-row">
              <label *ngIf="control.label">{{control.label}}</label>
              <ng-container *ngFor="let nestedControl of control.controls">
                <ng-container
                  *ngIf="(nestedControl.showByLanguage && nestedControl.key === language) || !nestedControl.showByLanguage">
                  <div [class]="nestedControl.className">
                    <ng-container *ngIf="!nestedControl.controls?.length">
                      <app-form-control
                        [control]="nestedControl"
                        [disabled]="nestedControl.mainProps?.disabled"
                        [setFormGroup]="formGroup"
                        [entityName]="name"
                        [modelId]="modelId"
                        [formSubmitted]="formSubmitted"
                        [groupKey]="(config.key || control.key) + '.' + nestedControl.key"
                        [key]="nestedControl.key"
                        (controlChange)="controlChange.emit({event: $event})"></app-form-control>
                    </ng-container>
                  </div>
                </ng-container>
                <ng-container *ngIf="nestedControl.controls?.length">
                  <ng-container
                    *ngTemplateOutlet="formControlsTemplate; context: {$implicit: {controls: [nestedControl], key: (config.key || control.key) + '.' + nestedControl.key}}"></ng-container>
                </ng-container>
              </ng-container>
            </div>
          </ng-template>
        </ng-container>

        <ng-template #controlType>
          <ng-container *ngIf="(control.showByLanguage && control.key === language) || !control.showByLanguage">
            <div class="row align-center entity-row">
              <div [class]="control.className">
                <app-form-control
                  [control]="control"
                  [disabled]="control.mainProps?.disabled"
                  [setFormGroup]="formGroup"
                  [entityName]="name"
                  [modelId]="modelId"
                  [formSubmitted]="formSubmitted"
                  [groupKey]="(config.key ? (config.key + '.') : '') + control.key"
                  [key]="control.key"
                  (controlChange)="controlChange.emit({event: $event})"></app-form-control>
              </div>
            </div>
          </ng-container>
        </ng-template>
      </ng-container>
    </ng-template>
  </div>
</form>
