.shop {
  display: flex;
  gap: 100px;
  align-items: flex-start;
  z-index: 100000;
  position: relative;

  .title {
    font-weight: 700;
    font-size: 15px;
    line-height: 13px;
    letter-spacing: .4px;
    color: #717171;
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__category {
    .products {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      row-gap: 20px;

      .product {
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;

        img {
          border: 1px solid #EEEEEE;
          width: 85px;
          height: 70px;
          border-radius: 5px;
        }

        .label {
          color: #717171;
          font-size: 10px;
          font-weight: 400;
          line-height: 13px;
          letter-spacing: .4px;
          max-width: 85px;
        }
      }
    }
  }

  .popular-products {
    display: flex;
    gap: 30px;
    margin-top: 20px;

    .popular-product .image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border: 1px solid #EEEEEE;
      border-radius: 10px;
      width: 265px;
      height: 280px;
    }
  }
}

.loader {
  width: 70px;
  height: 70px;
  display: flex;
  margin: 30px auto;
}


@media only screen and (max-width: 768px) {
  .shop {
    flex-direction: column;
    gap: 30px;

    .popular-products {
      .popular-product .image {
        width: 100px;
        height: 100px;
      }
    }
  }
}
