<div class="faq-section" id="faq">
  <div class="faq-title">{{'FAQ.FAQTitle' | translate}}</div>
  <div class="faq-subtitle">{{'FAQ.FAQSubTitle' | translate}}</div>
  <div class="faq-qa">
    <mat-accordion *ngFor="let faqItem of faqItems">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{faqItem.question | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          {{faqItem.answer | translate}}
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
