<div class="checkout-finish">
  <div class="checkout-finish__success">
    <div class="title">{{ 'Checkout.Finish.Success.Title' | translate }}</div>
<!--    <div class="order">-->
<!--      <span>{{ 'Checkout.Finish.Success.OrderNumber' | translate }}:</span>-->
<!--      <span>&nbsp;</span>-->
<!--      <span class="number">{{ orderId }}</span>-->
<!--    </div>-->
<!--    <div class="copy">{{ 'Checkout.Finish.Success.OrderCopy' | translate:{email: form.details.email} }}</div>-->
  </div>

  <div class="checkout-finish__details">

    <div class="left">

      <div class="content">
        <div class="title">{{ 'Checkout.Finish.Details.Title' | translate }}</div>
<!--        <div class="delivery-method"-->
<!--             *ngIf="form.delivery.deliveryMethod">{{ deliveryMethodsLabels[form.delivery.deliveryMethod] | translate }}-->
<!--        </div>-->

        <ng-container *ngFor="let product of products">
          <div class="product-card">
            <div class="product-image">
              <img src="{{product.img}}" alt="Product image">
            </div>

            <div class="product-info">
              <div class="product-name">{{product.name | translate}}</div>

              <div class="product-price">
                <div class="product-old-price" *ngIf="product.oldPrice">{{product.oldPrice}}</div>
                <div class="product-new-price">{{product.price}}</div>
              </div>

              <div class="product-description">
                {{'Cart.SKU' | translate}}:
                <span>{{product.sku}}</span>
              </div>
              <div class="product-description">
                {{'Cart.Model' | translate}}:
                <span>{{product.model}}</span>
              </div>
              <div class="product-description">
                {{'Cart.Size' | translate}}:
                <span>{{product.size}}</span>
              </div>
            </div>
          </div>

          <div class="spacer"></div>
        </ng-container>

        <div class="total">
<!--          <div class="instructions">-->
<!--            <div class="instructions&#45;&#45;title">{{ 'Checkout.Finish.Instructions.Title' | translate }}</div>-->
<!--            <div-->
<!--              class="instructions&#45;&#45;description">{{ 'Checkout.Finish.Instructions.Description' | translate: {orderId: orderId} }}</div>-->
<!--          </div>-->
          <div class="total__payment" *ngIf="labels">
              <div class="payment--row">
                <span class="label">{{ labels.subtotal.label | translate }}:</span>
                <span class="value">{{ labels.subtotal.value }}</span>
              </div>

<!--            <div class="payment&#45;&#45;row">-->
<!--              <span class="label">{{ labels.vat.label | translate }}:</span>-->
<!--              <span class="value">{{ labels.vat.value }}</span>-->
<!--            </div>-->
            <div class="spacer"></div>

            <div class="payment--row">
              <span class="label">{{ labels.total.label | translate }}:</span>
              <span class="value">{{ labels.total.value }}</span>
            </div>
          </div>
        </div>
        <div class="continue">
          <a routerLink="/products">
            <button class="default continue--button">{{ 'Checkout.Finish.Button.Continue' | translate }}</button>
          </a>
          <a class="email" [href]="'mailto:' + email">{{ email }}</a>
        </div>
      </div>
    </div>
    <div class="right">
      <app-order-review [checkout]="form"></app-order-review>
    </div>
  </div>
</div>
