<div class="card">
  <app-table
      [rows]="list"
      [columns]="columns"
      [pendingRequest]="isLoading"
      [totalCount]="totalRows"
      [selectedPage]="pageNr"
      [perPage]="rowsPerPage"
      [createButton]="{label: 'Add entity', url: [createUrl]}"
      [urlPrefix]="routeUrl"
      [title]="'Entities'"
      [entity]="entity"
      (reloadData)="getList()"
      (rowActionEmitter)="onTableRowAction($event)"
  >
    <ng-container *appTableActions="let row">
      <app-authorization
        [entity]="entity"
        [action]="policyActions.Clone"
        [resource]="row"
      >
        <div class="send">
          <a (click)="cloneRow(row)">
            <svg-icon [src]="'app/theme/admin/assets/icons/clone.svg' | assetsUrl"></svg-icon>
          </a>
        </div>
      </app-authorization>
    </ng-container>
  </app-table>
</div>
