<div class="cart-container" [class.cart-open]="isCartOpen">
  <div class="cart-sidenav">
    <div class="full-cart" *ngIf="isFullCart; else emptyCartBlock">
      <div class="full-cart-header">
        {{'Cart.TotalProducts' | translate}} <b>{{ totalProducts }}</b>
      </div>
      <div class="full-cart-content">
        <div *ngFor="let product of products; let i = index">
          <div class="cart-product-card"
               (mouseover)="showDeleteButton(i)"
               (mouseout)="hideDeleteButton(i)">
            <div class="product-image" [ngClass]="{'hovered-item': isHovered[i]}">
              <img src="{{product.img}}" alt="Product image">
              <app-counter [value]="product.quantity" (counterChange)="counterChange($event, product)"></app-counter>
            </div>
            <div class="product-info">
              <div class="product-name">{{product.name | translate}}</div>
              <div class="product-old-price" *ngIf="product.oldPrice">{{ formatPrice(product.oldPrice) | uppercase }}</div>
              <div class="product-price">{{ formatPrice(product.price) | uppercase }}</div>
              <div class="product-description" *ngIf="product.sku">
                {{'Cart.SKU' | translate}}:
                <span>{{product.sku}}</span>
              </div>
              <div class="product-description" *ngIf="product.model">
                {{'Cart.Model' | translate}}:
                <span>{{product.model}}</span>
              </div>
              <div class="product-description" *ngIf="product.size">
                {{'Cart.Size' | translate}}:
                <span>{{product.size}}</span>
              </div>

              <ng-container *ngIf="product.characteristic?.length">
                <ng-container *ngFor="let carac of product.characteristic">
                  <div class="product-description" *ngIf="carac.key?.ro">
                    {{carac.key | translate}}:
                    <span>{{carac.value | translate}}</span>
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <div class="delete-button">
              <button class="delete-product-button" (click)="deleteProduct(product)">
                <img src="assets/images/content/close-black.svg" alt="Delete product">
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="full-cart-footer">
        <div class="summarization-cart">
          <div class="summarization-item">
            {{'Cart.Subtotal' | translate}}
            <span>{{totalProductPrice}} {{currency | uppercase}}</span>
          </div>
<!--          <div class="summarization-item">-->
<!--            {{'Cart.Delivery' | translate}}-->
<!--            <span>{{totalDeliveryPrice}} {{currency |uppercase}}</span>-->
<!--          </div>-->
          <div class="summarization-item">
            {{'Cart.Total' | translate}}
            <span>{{totalCost}} {{currency | uppercase}}</span>
          </div>
        </div>
        <div class="finalize-cart-button">
          <button (click)="checkout()">
            {{'Cart.FullButton' | translate}}
          </button>
        </div>
      </div>
    </div>

    <ng-template #emptyCartBlock>
      <div class="empty-cart">
        <div class="empty-cart-content">
          <img src="assets/images/content/empty-cart-img.svg" alt="Empty cart">
          <div>
            {{'Cart.EmptyCart' | translate}}<br><br>
            {{'Cart.EmptyCartMessage' | translate}}
          </div>
        </div>
        <div class="finalize-cart-button">
          <button>
            {{'Cart.EmptyButton' | translate}}
          </button>
        </div>
      </div>
    </ng-template>

    <button class="close-cart-button" (click)="closeCart()">
      <img src="assets/images/content/close.svg" alt="Close cart">
    </button>
  </div>
</div>
