.cdk-overlay-dark-backdrop {
  background-blend-mode: normal, hard-light;
  backdrop-filter: blur(7.5px);
}

.mat-mdc-dialog-container {
  border-radius: 10px;
  border: 1px solid #37A391;
  background: #FFF;
}

.mat-mdc-dialog-surface {
  border-radius: 10px;
  background: #FFF;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  display: table;
}

@media (min-width: 320px) and (max-width: 480px) {
  .dialog-content {
    width: 260px;
    padding: 30px 15px!important;
  }
}
