$main-color: #37A391;
$white: #fff;
$gray: #3E3E3E;
$gray-code: #5D5D5D;
$base-color: #1B1B1B;
$primary-color: #FFE0B1;
$secondary-color: #FFF8EF;
$active: #40B66F;
$gray-light: #717171;
$dark-white: #E3E1E1;
$label-gray: #B6B6B6;
$label-item: #959595;
$sea-green: #2D8653;
$tag-color: #FFF3E1;
$link-menu: #72757E;
$link-active: #1D1F22;
$border-color: #E2E2E2;
$label-color: #9C9C9C;
$active-price: #65BF70;
$sale-color: #FC6666;
$dark-color: #21243D;
