<div class="trendings" *ngIf="trendings">
  <div class="trendings__header">
    <div class="trendings__title">{{ 'Trendings.Title' | translate }}</div>
    <button routerLink="./blog" class="trendings__button outlined active">{{ 'Trendings.Button.More' | translate }}</button>
  </div>

  <div class="trendings__items">
    <!-- First item -->
      <div class="trendings__column" *ngFor="let trending of trendings.slice(0, 1)"
           [style.width]="'calc(' + 65 + '% - 20px)'">
        <app-trending [config]="trending" [isMainBlog]="true" [width]="65"></app-trending>
      </div>
    <!-- Last two items -->
    <div class="trendings__row" [style.width]="'calc(' + 35 + '% - 20px)'">
      <div class="trendings__column" *ngFor="let trending of trendings.slice(1)">
        <app-trending [config]="trending" [isMainBlog]="false" [width]="35"></app-trending>
      </div>
    </div>
  </div>
</div>
