<!--<ngb-accordion #acc="ngbAccordion">-->
<!--  <ngb-panel *ngFor="let item of accordionItems">-->
<!--    <ng-template ngbPanelTitle>-->
<!--      <div class="d-flex justify-content-between">-->
<!--        <div class="title">{{item.title}}</div>-->
<!--        <svg-icon [src]="'app/theme/admin/assets/icons/accordion-arrow.svg' | assetsUrl" class="icon"></svg-icon>-->
<!--      </div>-->
<!--    </ng-template>-->
<!--    <ng-template ngbPanelContent>-->
<!--      <div [innerHTML]="item.content"></div>-->
<!--      <ng-content></ng-content>-->
<!--    </ng-template>-->
<!--  </ngb-panel>-->
<!--</ngb-accordion>-->
