<div class="f-group grid-group"
     [ngClass]="{'error': groupKey && formGroup.get(groupKey)?.invalid &&
       (formGroup.get(groupKey)?.dirty ||
       formGroup.get(groupKey)?.touched || formSubmitted),
       'pe-all': control.type === 'code'}"
     *ngIf="formControl"
>
  <label>{{control.label}}</label>

  <ng-container *ngIf="control.type === 'input'">
    <input
      type="text"
      [formControl]="formControl"
      class="f-control"
      [placeholder]="control.placeholder"
      [ngClass]="{'disabled': groupKey && formGroup.get(groupKey)?.disabled}"
    >
  </ng-container>

  <ng-container *ngIf="control.type === 'image'">
    <label class="image-upload-container btn btn-bwm">
      <span>Select Images</span>
      <input
        type="file"
        accept="image/*"
        class="image-input"
        multiple
        (input)="processFile($event)">
    </label>

    <div *ngIf="selectedFiles && selectedFiles.length > 0" class="img-preview-container">
      <div class="img-preview" *ngFor="let file of selectedFiles"
           [ngStyle]="{'background-image': 'url('+ file.file_url + ')'}">
        <div class="actions">
          <fa-icon [icon]="faTrash" (click)="removeFile(file.id)"></fa-icon>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="control.type === 'file'">
    <!--TODO: Add more file types-->
    <label class="image-upload-container btn btn-bwm">
      <span>Select Files</span>
      <input
        type="file"
        accept="application/pdf"
        class="image-input"
        multiple
        (input)="processFile($event)">
    </label>

    <div *ngIf="selectedFiles && selectedFiles.length > 0" class="img-preview-container">
      <div class="file-preview" *ngFor="let file of selectedFiles">
        <div class="file">{{ file.file_name }}</div>
        <div class="actions">
          <fa-icon [icon]="faTrash" (click)="removeFile(file.id)"></fa-icon>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="control.type === 'number'">
    <input
      type="number"
      [formControl]="formControl"
      class="f-control"
      [placeholder]="control.placeholder"
      [ngClass]="{'disabled': groupKey && formGroup.get(groupKey)?.disabled}"
    >
  </ng-container>

  <ng-container *ngIf="control.type === 'dropdown'">
    <select [formControl]="formControl" class="f-control">
      <option [value]="null" disabled>
        No value
      </option>
      <option
        *ngFor="let element of ((control?.config?.data?.length ? control?.config?.data : control?.config?.data | async))"
        [value]="element[control?.config?.value]">
        {{element[control?.config?.key]}}
      </option>
    </select>
  </ng-container>


  <ng-container *ngIf="control.type === 'multiselect'">
    <ng-container *ngIf="((control?.config?.data | async) || control?.config?.data) as data">
      <ng-multiselect-dropdown
        [placeholder]="control.placeholder"
        [settings]="multiselectConfig"
        [data]="data"
        [formControl]="formControl"
      >
      </ng-multiselect-dropdown>
    </ng-container>
  </ng-container>


  <ng-container *ngIf="control.type === 'textarea'">
        <textarea
          type="text"
          [formControl]="formControl"
          [cols]="control?.config?.cols"
          [placeholder]="control.placeholder"
          [rows]="control?.config?.rows"
          class="f-control"
        ></textarea>
  </ng-container>

  <ng-container *ngIf="control.type === 'editor'">
    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [toolbar]="toolbar"
                       [editor]="editor"></ngx-editor-menu>
      <ngx-editor
        [editor]="editor"
        [outputFormat]="'html'"
        [formControl]="formControl"
        [placeholder]="control.placeholder"
      ></ngx-editor>
    </div>
  </ng-container>

  <ng-container *ngIf="control.type === 'toggle'">
    <label class="switch">
      <input type="checkbox" [formControl]="formControl">
      <span class="slider round"></span>
    </label>
  </ng-container>

  <ng-container *ngIf="control.type === 'message'">
    <div class="info-text section-mt">{{control.config.value}}</div>
  </ng-container>

  <ng-container *ngIf="control.type === 'code'">
    <code>
      {{control.config.value}}
      <button
        [cdkCopyToClipboard]="control.config.value"
        (cdkCopyToClipboardCopied)="copyToClipboard(control.config.value)"
        class="without-styles-btn ml-auto"
      >
        <fa-icon [icon]="copyIcon"></fa-icon>
      </button>
    </code>
  </ng-container>

  <div
    *ngIf="groupKey && formGroup.get(groupKey)?.invalid &&
        (formGroup.get(groupKey)?.dirty ||
        formGroup.get(groupKey)?.touched || formSubmitted)">
    <div class="error-message"
         [hidden]="groupKey && !formGroup.get(groupKey)?.errors?.required">
      {{control.label}} is required.
    </div>
    <div class="error-message"
         [hidden]="groupKey && !formGroup.get(groupKey).errors?.pattern">
      {{control.label}} is not valid.
    </div>
    <div class="error-message"
         [hidden]="groupKey && !formGroup.get(groupKey).errors?.minLength">
      The minimum length for this field is {{formGroup.get(groupKey)?.errors?.minLength?.requiredLength}} characters.
    </div>
    <div class="error-message"
         [hidden]="groupKey && !formGroup.get(groupKey).errors?.maxLength">
      The maximum length for this field is {{formGroup.get(groupKey)?.errors?.maxLength?.requiredLength}} characters.
    </div>
  </div>
</div>
