<app-cart [(isCartOpen)]="isCartOpen"></app-cart>

<div class="page-header">
  <!--  <div class="header-info">-->
  <!--    {{ 'Header.HeaderInfo' | translate }}-->
  <!--  </div>-->
  <div class="header-main-bar">
    <!--    <button class="hamburger-menu" (click)="toggleOpenSideMenu()" *ngIf="isMobile">-->
    <!--      <img src="assets/images/content/menu-icon.svg">-->
    <!--    </button>-->
    <div class="header-search">
      <a class="link-item"
         (click)="toggleMenuOpened(!menuOpened)"
         (mouseover)="toggleMenuOpened(true, isMobile)">
        <button class="buy-now-button">
          <img src="assets/images/content/menu-icon.svg" class="buy-now-icon" alt="Buy now icon">
          <span>{{ 'Header.BuyNowButton' | translate }}</span>
        </button>
      </a>
      <!--      <div class="search-container">-->
      <!--        <input class="search-bar" type="text" placeholder="Search products" [(ngModel)]="searchTerm" (keydown.enter)="search()">-->
      <!--        <img src="assets/images/content/search-icon.svg" class="search-icon" alt="Search" (click)="search()">-->
      <!--      </div>-->
    </div>
    <div class="header-logo">
      <a routerLink="/"><img src="assets/images/content/logo.png"></a>
    </div>
    <div class="header-user-utilities">
      <a [href]="'tel:' + generalDetails.main_phone" class="link-item">
        <button class="buy-now-button contact-button">
          <img src="assets/images/content/call-icon.svg" class="buy-now-icon" alt="Call now icon">
          <span>{{ 'Contact.Button.Contact' | translate }}</span>
        </button>
      </a>
<!--      <button class="download-button link-item" (click)="downloadPdf(generalDetails.catalog)"-->
<!--              *ngIf="!isMobile && sizeChecked">-->
<!--        {{ data.QUICK_MENU['CATALOG'] | translate }}-->
<!--      </button>-->
      <!--      <a routerLink="/about-us" class="link-item" *ngIf="!isMobile">{{ data.QUICK_MENU['ABOUT'] | translate }}</a>-->
      <div *ngIf="!isMobile && sizeChecked" class="language-switch link-item">
        <button class="language-switch-button language-switch-margin"
                [ngClass]="{ 'selected-language': selectedLanguage === language }"
                (click)="switchLanguage(language)"
                *ngFor="let language of languages">
          {{language}}
        </button>
      </div>
      <button class="link-item cart-button" (click)="toggleOpenCart()">
        <img src="assets/images/content/cart-icon.svg" alt="Cart icon">
        <span class="cart-badge" *ngIf="cartCount">{{cartCount}}</span>
      </button>
    </div>
  </div>

  <div class="product-menu"
       (mouseleave)="toggleMenuOpened(false)"
       *ngIf="menuOpened">
    <div class="main-panel">
      <div class="product-main-type" *ngFor="let productType of productsMenuData">
        <div class="type-label" [ngClass]="{active: productType.type.active}"
             (mouseover)="setActiveType(productType.type.id)">
          {{productType.type.label | translate}}
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="4" viewBox="0 0 8 4" fill="none">
            <path d="M4.06673 3.9801L0.733398 0.646729L7.40007 0.646728L4.06673 3.9801Z" fill="#1B1B1B"/>
          </svg>
        </div>

        <ng-container *ngIf="productType.type.active">
          <div class="type-categories" *ngFor="let category of productType.categories">
            <div class="type-category" [ngClass]="{active: category.id === activeCategoryId}"
                 (click)="goToCategory(category.url, category.id === activeCategoryId, category.label)"
                 (mouseover)="setActiveCategory(category.id, category.products)">
              {{category.label | translate}}
            </div>

<!--            <div class="product-list" *ngIf="showProducts?.length && category.id === activeCategoryId && isMobile">-->
<!--              <div class="product" *ngFor="let product of showProducts" (click)="goToProduct(product.url)">-->
<!--                <div class="background" [style.background-image]="'url(' + product.image +')'"></div>-->

<!--                <div class="product-title">-->
<!--                  {{product.title | translate}}-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </ng-container>
      </div>

      <div class="product-main-type">
        <div class="type-label active" (click)="downloadPdf(generalDetails.catalog)">
          {{ data.QUICK_MENU['CATALOG'] | translate }}
        </div>
      </div>

      <div class="product-main-type">
<!--        <a [href]="'tel:' + generalDetails.main_phone" class="link-item type-label active">-->
<!--          {{ 'Contact.Button.Contact' | translate }}-->
<!--        </a>-->
        <a [href]="data.MENU['CONTACTS']['LINK']" class="link-item type-label active">
          {{ data.MENU['CONTACTS']['LABEL'] | translate }}
        </a>
      </div>

      <div *ngIf="isMobile && sizeChecked" class="language-switch link-item">
        <button class="language-switch-button language-switch-margin"
                [ngClass]="{ 'selected-language': selectedLanguage === language }"
                (click)="switchLanguage(language)"
                *ngFor="let language of languages">
          {{language}}
        </button>
      </div>
    </div>

<!--    <div class="product-list" *ngIf="showProducts?.length && activeCategoryId && !isMobile">-->
<!--      <div class="product" *ngFor="let product of showProducts" (click)="goToProduct(product.url)">-->
<!--        <div class="background" [style.background-image]="'url(' + product.image +')'"></div>-->

<!--        <div class="product-title">-->
<!--          {{product.title | translate}}-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>


  <!--  <div class="header-menu-bar">-->
  <!--    <div class="header-menu" *ngIf="!isMobile; else sideMenu">-->
  <!--      <div *ngFor="let menuItemKey of menuKeys">-->
  <!--        <ng-container *ngIf="data.MENU[menuItemKey]['MODAL']; else page">-->
  <!--          <a class="link-item menu-item" (click)="changeActive()">-->
  <!--            {{ data.MENU[menuItemKey]['LABEL'] | translate }}-->

  <!--            <svg class="dropdown" width="8" height="5" viewBox="0 0 8 5">-->
  <!--              <path d="M3.78011 4.06652L0.446777 0.733154H7.11345L3.78011 4.06652Z"/>-->
  <!--            </svg>-->
  <!--          </a>-->
  <!--        </ng-container>-->

  <!--        <ng-template #page>-->
  <!--          <div (click)="changeActive(false)">-->
  <!--            <a [routerLink]="['/' + data.MENU[menuItemKey]['LINK']]" routerLinkActive="active"-->
  <!--               [routerLinkActiveOptions]="{ exact: true }" class="link-item menu-item">-->
  <!--              {{ data.MENU[menuItemKey]['LABEL'] | translate }}-->
  <!--            </a>-->
  <!--          </div>-->
  <!--        </ng-template>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="header-contact">-->
  <!--      {{'Header.ContactUs' | translate}}-->
  <!--      <a [href]="'tel:' + generalDetails.main_phone" class="link-item"><b>{{generalDetails.main_phone}}</b></a>-->
  <!--    </div>-->

  <!--    <ng-template #sideMenu>-->
  <!--      <div class="menu-container" [class.menu-open]="isSideMenuOpen">-->
  <!--        <div class="menu-sidenav">-->
  <!--          <div class="sidenav-content">-->
  <!--            <div class="sidenav-menu">-->
  <!--              <div class="sidenav-logo">-->
  <!--                <a routerLink="/" (click)="toggleOpenSideMenu()"><img src="assets/images/content/logo.png"></a><br>-->
  <!--              </div>-->
  <!--              <div *ngFor="let menuItemKey of menuKeys">-->
  <!--                <ng-container *ngIf="data.MENU[menuItemKey]['MODAL']; else page">-->
  <!--                  <a class="link-item sidenav-item"-->
  <!--                     (click)="changeActive()">-->
  <!--                    {{ data.MENU[menuItemKey]['LABEL'] | translate }}-->

  <!--                    <svg class="dropdown" width="8" height="5" viewBox="0 0 8 5">-->
  <!--                      <path d="M3.78011 4.06652L0.446777 0.733154H7.11345L3.78011 4.06652Z"/>-->
  <!--                    </svg>-->
  <!--                  </a>-->
  <!--                </ng-container>-->

  <!--                <ng-template #page>-->
  <!--                  <div (click)="changeActive(false)">-->
  <!--                    <a [routerLink]="['/' + data.MENU[menuItemKey]['LINK']]" routerLinkActive="active"-->
  <!--                       [routerLinkActiveOptions]="{ exact: true }" class="link-item menu-item sidenav-item"-->
  <!--                       >-->
  <!--                      {{ data.MENU[menuItemKey]['LABEL'] | translate }}-->
  <!--                    </a>-->
  <!--                  </div>-->
  <!--                </ng-template>-->
  <!--              </div>-->
  <!--            </div>-->
  <!--            <div class="profile-settings">-->
  <!--              <div class="language-switch link-item sidenav-lang">-->
  <!--                <button class="language-switch-button language-switch-margin"-->
  <!--                        [ngClass]="{ 'selected-language': selectedLanguage === language }"-->
  <!--                        (click)="switchLanguage(language)"-->
  <!--                        *ngFor="let language of languages">-->
  <!--                  {{language}}-->
  <!--                </button>-->
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--          <button class="close-menu-button" (click)="closeMenu()">-->
  <!--            <img src="assets/images/content/close.svg" alt="Close menu">-->
  <!--          </button>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </ng-template>-->
  <!--  </div>-->
</div>
