<ng-container *ngIf="rows?.length || isSearchState; else emptyState">

  <div class="flex-between card-padding-lr">
    <div class="card-title">{{title}}</div>
    <app-authorization
      [entity]="entity"
      [action]="policyActions.CREATE"
    >
      <button class="btn action-btn btn-primary ml-auto" [routerLink]="createButton?.url"
              *ngIf="createButton?.url">{{createButton.label}}</button>
    </app-authorization>
  </div>

  <div class="per-page-section flex-between card-padding-lr section-mt">
    <div class="f-group">
      <span>Show</span>
      <select
        class="per-page-select f-control"
        style="width: auto" name="pageSize"
        [(ngModel)]="perPage" (change)="onPerPageSelected()"
      >
        <option [ngValue]="item" *ngFor="let item of perPageOptions">{{item}}</option>
      </select>
      <span>entries</span>
    </div>
    <div class="f-group search-group">
      <input
        class="f-control search"
        type="text"
        name="searchTerm"
        [(ngModel)]="searchInput"
        (ngModelChange)="onSearch($event)"
        placeholder="Search..."
      />
    </div>
  </div>

  <form>
    <table class="table table-striped section-mt">
      <thead>
      <tr>
        <th scope="col" *ngFor="let column of columns">
          {{column.name}}
<!--          <button class="without-styles-btn" *ngIf="column?.sortable" (click)="sortByColumn(column.key)">-->
<!--            <svg-icon [src]="'app/theme/admin/assets/icons/sort.svg' | assetsUrl"></svg-icon>-->
<!--          </button>-->
        </th>
        <th scope="col" class="text-right">Actions</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="rows?.length; else emptyState">
        <tr *ngFor="let row of rows">
          <th scope="row" *ngFor="let column of columns" (click)="onRowAction('edit', row)">
            <span [innerHTML]="getFieldValue(row, column.key, column.type)" *ngIf="column.type !== 'toggle'"></span>
            <label class="switch" *ngIf="column.type === 'toggle'">
              {{getFieldValue(row, column.key, column.type) ? 'Yes' : 'No'}}
            </label>
          </th>

          <th scope="row" class="actions-row">
            <ng-template [ngTemplateOutlet]="actionsTemplateRef"
                         [ngTemplateOutletContext]="{$implicit: row}"></ng-template>

            <app-authorization
              [entity]="entity"
              [action]="policyActions.VIEW"
              [resource]="row"
            >
              <div class="edit">
                <a (click)="onRowAction('edit', row)">
                  <svg-icon [src]="'app/theme/admin/assets/icons/eye.svg' | assetsUrl"></svg-icon>
                </a>
              </div>
            </app-authorization>

            <app-authorization
              [entity]="entity"
              [action]="policyActions.DESTROY"
              [resource]="row"
            >
              <div class="remove">
                <a (click)="onRowAction('remove', row)">
                  <svg-icon [src]="'app/theme/admin/assets/icons/remove.svg' | assetsUrl"></svg-icon>
                </a>
              </div>
            </app-authorization>
          </th>
        </tr>
      </ng-container>

      <ng-template #emptyState>
        <div class="message card-padding-lr section-mt">{{emptyDataConfig.state}}</div>
      </ng-template>
      </tbody>
    </table>

    <div class="flex-between card-padding-lr section-mt">
      <div class="pagination-info">
        Showing {{selectedPage * perPage - perPage + 1}}
        to {{(selectedPage * perPage) > totalCount ? totalCount : selectedPage * perPage}}
        of {{totalCount}} entries
      </div>
      <ngb-pagination
        class="pagination"
        [collectionSize]="totalCount"
        [(page)]="selectedPage"
        [pageSize]="perPage"
        [maxSize]="3"
        (pageChange)="onPageSelected($event)">
      </ngb-pagination>
    </div>
  </form>

</ng-container>

<ng-template #emptyState>
  <app-state-section
    [title]="title"
    [icon]="emptyDataConfig.icon"
    [state]="emptyDataConfig.state"
    [description]="canCreate ? emptyDataConfig.description : ''"
    [inCard]="emptyDataConfig.inCard"
    [button]="canCreate ? emptyDataConfig.button : ''"
    (buttonClicked)="goToUrl(createButton?.url)"></app-state-section>
</ng-template>
