<div class="filters">
  <button class="default"
          (click)="toggleSideFilter()"
          *ngIf="isMobile">
    {{'MobileFilterButton' | translate}}
  </button>
  <div *ngIf="!isMobile; else mobileFilter">
    <div [formGroup]="form">
      <div class="filter" *ngFor="let filter of filters">
        <ng-container [ngSwitch]="filter.filter_type" *ngIf="form.controls[filter.db_key]">
          <ng-container *ngSwitchCase="filterType.Dropdown">
            <app-dropdown [filter]="filter"
                          [formControlName]="filter.db_key"
                          [singleSelection]="true"
                          (valueChanged)="submit(filter.db_key)"></app-dropdown>
          </ng-container>

          <ng-container *ngSwitchCase="filterType.Checkbox">
            <app-checkbox [filter]="filter" [formControlName]="filter.db_key" (valueChanged)="submit()"></app-checkbox>
          </ng-container>

          <ng-container *ngSwitchCase="filterType.Radio">
            <app-radio [filter]="filter" [formControlName]="filter.db_key" (valueChanged)="submit()"></app-radio>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <app-single-filter [filter]="filter" [formControlName]="filter.db_key" (valueChanged)="submit()"></app-single-filter>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #mobileFilter>
  <div class="filter-container" [class.sidenav-open]="isSideFilterOpen">
    <div class="filter-sidenav">
      <div class="filter-content">
        <div [formGroup]="form">
          <div class="filter" *ngFor="let filter of filters">
            <ng-container [ngSwitch]="filter.filter_type">
              <ng-container *ngSwitchCase="filterType.Dropdown">
                <app-dropdown [filter]="filter" [formControlName]="filter.db_key" (valueChanged)="submit(filter.db_key)"></app-dropdown>
              </ng-container>

              <ng-container *ngSwitchCase="filterType.Checkbox">
                <app-checkbox [filter]="filter" [formControlName]="filter.db_key" (valueChanged)="submit()"></app-checkbox>
              </ng-container>

              <ng-container *ngSwitchCase="filterType.Radio">
                <app-radio [filter]="filter" [formControlName]="filter.db_key" (valueChanged)="submit()"></app-radio>
              </ng-container>

              <ng-container *ngSwitchDefault>
                <app-single-filter [filter]="filter" [formControlName]="filter.db_key" (valueChanged)="submit()"></app-single-filter>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
      <button class="close-sidenav" (click)="toggleSideFilter()">
        <img src="assets/images/content/close.svg" alt="Close menu">
      </button>
    </div>
  </div>
</ng-template>
