@import '../../../assets/scss/variables';

.card {
  width: max-content;
  max-width: 500px;
  min-width: 400px;
}

.modal-body {
  font-size: $font-size-base;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: $gray-700;
  font-family: $font-family-base;
}

.close {
  background: transparent;
  border: none;

  span {
    font-size: 32px;
  }
}

.modal-footer {
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: left;
}
